<button (click)="closePopUp()" mat-icon-button style="float:right;margin:5px;">
    <mat-icon>close</mat-icon>
</button>
<h1>Añadir nuevo almacen</h1>

<div id="divInputs">

    <h3>Folio</h3>
    <input type="number" [(ngModel)]="folio">

    <h3>Kilogramos</h3>
    <input type="number" [(ngModel)]="kilogramos">

    <h3>Importe</h3>
    <input type="number" [(ngModel)]="importe">

    <h3>Recibio</h3>
    <div class="dataTables_length">
        <select [(ngModel)]="recibioId">
            <option *ngFor="let empleado of empleadoList" [value]="empleado.id">{{empleado.nombre}}</option>
        </select>
    </div>

    <h3>Producto</h3>
    <div class="dataTables_length">
        <select [(ngModel)]="clave_producto">
            <option *ngFor="let producto of productoList" [value]="producto.id">{{producto.descripcion}}</option>
        </select>
    </div>

    <h3>Contribuyente</h3>
    <div class="dataTables_length">
        <select [(ngModel)]="contribuyente">
            <option *ngFor="let contribuyente of contribuyenteList" [value]="contribuyente.id">
                {{contribuyente.descripcion}}</option>
        </select>
    </div>

    <h3>Fecha de entrada</h3>
    <input matInput type="date" [(ngModel)]="fecha_entrada">

</div>
<div id="divActions">

    <button mat-raised-button color="primary" (click)="prueba()" style="font-size: 24px;">Agregar</button>


</div>