<app-barra-inicio [Bar]="'Block'"></app-barra-inicio>

<div class="Content-Menu">

    <h1>Pagina Principal</h1>
    <hr>

    <div class="Menu-Actions">
        <button routerLink="/almacen">
            <img src="assets/icons8-tienda-departamento-96.png" alt="">
            <p>Almacen</p>
        </button>
        <button routerLink="/Entrada-Productos">
            <img src="assets/icons8-camión-96.png" alt="">
            <p>Entrada del Producto</p>
        </button>
        <button routerLink="/Salida-Producto">
            <img src="assets/icons8-checkout-96.png" alt="">
            <p>Salida del Producto</p>
        </button>
        <button routerLink="/Contribuyentes">
            <img src="assets/icons8-administración-de-explotación-comercial-96.png" alt="">
            <p>Contribuyentes</p>
        </button>
        <button routerLink="/Admin">
            <img src="assets/equipo-de-usuario.png" alt="">
            <p>Administracion</p>
        </button>
        <button routerLink="/Reporte">
            <img src="assets/icons8-informe-gráfico-96.png" alt="">
            <p>Reportes</p>
        </button>
    </div>

</div>