<app-barra-inicio [OptionSala]="'Admin'"></app-barra-inicio>

<div class="Content-Table">
    <div class="Header-Table">
        <div class="Title">
            <h2>Administracion</h2>
        </div>
        <div class="btn-New">
            <button (click)="openDialog()" id="btnNuevo">
                <img src="assets/más-32.png" alt="">
                <p>Nuevo</p>
            </button>
        </div>
    </div>
    <div class="Table-Body">
        <table>
            <tr>
                <th>Id</th>
                <th>Nombre</th>
                <th>Rol</th>
                <th>Accion</th>

            </tr>
            <tr>
            <tr *ngFor="let dataItem of EmpleadoList">
                <td>{{dataItem.id}}</td>
                <td>{{dataItem.nombre}}</td>
                <td>{{dataItem.rolId.descripcion}}</td>
                <td class="Opcion">
                    <input type="image" src="assets/editar-32.png" (click)="openEditDialog(dataItem)" />
                    <input type="image" src="assets/basura-48.png" (click)="openDeleteDialog(dataItem)" />
                </td>
            </tr>
        </table>
    </div>

    <div class="Content-Pagination">
        <div class="Pagination">
            <button>
                < </button>
                    <p>1</p>
                    <button>></button>
        </div>
    </div>
</div>