
<div class="Header-Inicio">
    <div class="Home">
        <img src="../../assets/RED-BAMX.png" alt="" width="150px" height="50px">
    </div>
    <div class="Search">
        <input type="text" name="" id="" placeholder=" Buscar..."> <img src="../../assets/busca-48.png" alt="" width="20px" height="20px">
    </div>
    <div class="Profile">
        <img src="../../assets/usuario-48.png" alt="" width="30px" height="30px"> <span>Usuario</span>
    </div>
</div>


<!--
    <ul>
        <li>
            <img src="../../assets/RED-BAMX.png" alt="" width="150px" height="50px">
        </li>
        <li>
            <input type="text" name="" id=""> <img src="../../assets/busca-48.png" alt="" width="20px" height="20px">
        </li>
        <li>
            <img src="../../assets/usuario-48.png" alt="" width="30px" height="30px"> <span>Usuario</span>
        </li>
    </ul>
-->