<app-barra-inicio [OptionSala]="'Almacen'"></app-barra-inicio>

<div class="Content-Table">
    <div class="Header-Table">
        <div class="Title">
            <h2>Almacen</h2>
        </div>
        <div class="btn-New">
            <button (click)="openDialog()" id="btnNuevo">
                <img src="assets/más-32.png" alt="">
                <p>Nuevo</p>
            </button>
        </div>
        <div class="dataTables_length"><label>Mostrar
                <select [(ngModel)]="itemsPorPagina" (change)="filterFields()">
                    <option value="5">5</option>
                    <option value="10">10</option>
                    <option value="20">20</option>
                    <option value="50">50</option>
                    <option value="100">100</option>
                </select> Campos</label>
        </div>
    </div>
    <div class="Table-Body">
        <table>
            <tr>
                <th>Id</th>
                <th>Folio</th>
                <th>Kilogramos</th>
                <th>Importe</th>
                <th>Fecha de Entrada</th>
                <th>Recibio</th>
                <th>Clave de producto</th>
                <th>Contribuyente</th>
                <th>Accion</th>

            </tr>

            <tr
                *ngFor="let dataItem of AlmacenList.slice((paginaActual-1)*itemsPorPagina, paginaActual*itemsPorPagina)">
                <td>{{dataItem.id}}</td>
                <td>{{dataItem.folio}}</td>
                <td>{{dataItem.kilogramos}}</td>
                <td>{{dataItem.importe}}</td>
                <td>{{dataItem.fecha_entrada}}</td>
                <td>{{dataItem.recibioId.id}}</td>
                <td>{{dataItem.clave_producto.codigo_sat}}</td>
                <td>{{dataItem.contribuyente.descripcion}}</td>
                <td>
                    <input type="image" src="assets/editar-32.png" (click)="openEditDialog(dataItem)" />
                    <input type="image" src="assets/basura-48.png" (click)="openDeleteDialog(dataItem)" />
                </td>
            </tr>
        </table>

    </div>

    <div class="Content-Pagination">
        <div class="Pagination">
            <button (click)="previousPage()">
                < </button>
                    <p>{{this.paginaActual}}</p>
                    <button (click)="nextPage()">></button>
        </div>
    </div>
</div>