.Content-Bar-Menu{
    background-color: white;
    width: 100px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.Content-Bar-Menu .Bar-Menu button{
    width: 100px;
    background-color: transparent;
    border: none;
    
    padding: 2px 0;
}
.Content-Bar-Menu .Bar-Menu button p{
    font-size: 12px;
}
.Content-Bar-Menu .Bar-Menu button img{
    width: 25px;
    height: 25px;
    margin-bottom: 10px;
}

#Select{
    border-left: 4px solid orange;
}
