<div class="Content-Bar-Menu">
    <div class="Bar-Menu">
        <button #Menu class="Almacen" routerLink="/almacen">
            <img src="assets/icons8-tienda-departamento-96.png" alt="">
            <p>Almacen</p>
        </button>
        <button #Menu class="Entrada" routerLink="/Entrada-Productos">
            <img src="assets/icons8-camión-96.png" alt="">
            <p>Entrada del Producto</p>
        </button>
        <button #Menu class="Salida" routerLink="/Salida-Producto">
            <img src="assets/icons8-checkout-96.png" alt="">
            <p>Salida del Producto</p>
        </button>
        <button #Menu class="Contribu" routerLink="/Contribuyentes">
            <img src="assets/icons8-administración-de-explotación-comercial-96.png" alt="">
            <p>Contribuyentes</p>
        </button>
        <button #Menu class="Admin" routerLink="/Admin">
            <img src="assets/equipo-de-usuario.png" alt="">
            <p>Administracion</p>
        </button>
        <button #Menu class="Reporte" routerLink="/Reporte">
            <img src="assets/icons8-informe-gráfico-96.png" alt="">
            <p>Reportes</p>
        </button>
        <button routerLink="/Login">
            <img src="assets/salida-48.png" alt="">
            <p>Cerrar Session</p>
        </button>
    </div>
</div>