<button (click)="closePopUp()" mat-icon-button style="float:right;margin:5px;">
    <mat-icon>close</mat-icon>
</button>
<h1>Añadir nueva Salida de Producto</h1>

<div id="divInputs">

    <h3>Folio Salida</h3>
    <input type="text" [(ngModel)]="folio_salida">

    <h3>Producto</h3>
    <div class="dataTables_length">
        <select [(ngModel)]="clave_producto">
            <option *ngFor="let rol of almacenList" [value]="rol.id">{{rol.clave_producto.descripcion}}</option>

        </select>
    </div>

    <h3>Titulo</h3>
    <input type="text" [(ngModel)]="titulo">

    <h3>Peso</h3>
    <input type="number" [(ngModel)]="peso">

    <h3>Destinatario</h3>
    <input type="text" [(ngModel)]="destinatario">

    <h3>Observaciones</h3>
    <input type="text" [(ngModel)]="observaciones">

    <h3>Concepto</h3>
    <input type="text" [(ngModel)]="concepto">

</div>
<br>
<div id="divInputs">

    <button mat-raised-button color="primary" (click)="prueba()" style="font-size: 24px;">Nuevo</button>


</div>