<button (click)="closePopUp()" mat-icon-button style="float:right;margin:5px;">
    <mat-icon>close</mat-icon>
</button>
<h1>Editar Administracion</h1>

<div id="divInputs">
    <h1>Antes</h1>

    <h3>Nombre</h3>
    <input type="text" [(ngModel)]="nombre" value="this.nombre" name="nombre" readonly>

    <h3>Rol</h3>

    <input type="text" [(ngModel)]="rolIdName" value="this.rolIdName" name="rolIdName" readonly>



</div>
<div id="divInputs">
    <h1>Despues</h1>
    <h3>Nombre</h3>
    <input type="text" [(ngModel)]="Newnombre">

    <h3>Rol</h3>
    <div class="dataTables_length">
        <select [(ngModel)]="NewrolId">
            <option *ngFor="let rol of RolList" [value]="rol.id">{{rol.descripcion}}</option>
        </select>
    </div>
</div>
<br>
<div>

    <button mat-raised-button color="primary" (click)="prueba()" style="font-size: 24px;">Actualizar</button>


</div>