<h1>Editar Almacen</h1>

<div>

    <h3>Folio</h3>
    <input type="number" [(ngModel)]="folio" value="this.folio">

    <h3>Kilogramos</h3>
    <input type="number" [(ngModel)]="kilogramos" value="this.kilogramos">

    <h3>Importe</h3>
    <input type="number" [(ngModel)]="importe" value="this.importe">

    <h3>Recibio</h3>
    <input type="number" [(ngModel)]="recibio" value="this.recibio">

    <h3>Clave de producto</h3>
    <input type="number" [(ngModel)]="clave_producto" value="this.clave_producto">

    <h3>Contribuyente</h3>
    <input type="text" [(ngModel)]="contribuyente" value="this.contribuyente">

</div>
<br>
<div>

    <!-- <button (click)="prueba()">Nuevo</button> -->


</div>