<img id="Logo" src="../../assets/RED-BAMX.png" alt="Banco De Alimentos">
<div id="login">
    <div id="loginLeft">
        <div id="idInputs">
            <h1 id="idH1Login">Iniciar Sesion</h1>
            <h1 class="idH1">Usuario</h1>
            <input id="idInpUser" class="clInput" type="text">
            <h1 class="idH1">Contraseña</h1>
            <input id="idInpPass" class="clInput" type="text">
        </div>
        <div id="idButton">
            <button id="idBtnLogin" (click)="login()">Iniciar Sesion</button>
        </div>
    </div>
    <div id="loginRight">
        <h2 id="idBienvenido">Bienvenido</h2>
        <h2 id="idWelMsg">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quidem obcaecati provident
            deleniti sint,
            illum dignissimos asperiores </h2>
    </div>
</div>