<div class="Header">
    <img src="assets/RED-BAMX.png" alt="" width="160px" height="60px">
</div>

<div class="Card-Login">
    <div class="Card-Form">
        <div class="Title">
            <h2>Iniciar Sesion</h2>
        </div>
        <div class="Box-Form">
            <form action="">
                <p>Usuario</p>
                <img src="" alt=""><input type="text" name="" id="" class="casillas">
                <p>Contraseña</p>
                <img src="" alt=""><input type="password" name="" id="" class="casillas">
                <button routerLink="/Home">Iniciar Sesion</button>
            </form>
        </div>
        
    </div>
    <div class="Card-Info">
        <div class="Title">
            <h2>Bienvenido</h2>
        </div>
        <div class="Datos">
            <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Cum commodi iste aliquid tempora magni in hic quaerat iure non delectus 
            </p>
        </div>
    </div>
</div>