#divActions{
    padding-inline: 10px;
}



#divInputs{
    float: left;
    padding: 10px;
    font-size: 24px;
}
input[type="text"]{
    font-size: 24px;
}

input[type="number"]{
    font-size: 24px;

}
