<button (click)="closePopUp()" mat-icon-button style="float:right;margin:5px;">
    <mat-icon>close</mat-icon>
</button>
<h1>Añadir nuevo almacen</h1>

<div id="divInputs">

    <h3>Nombre</h3>
    <input type="text" [(ngModel)]="nombre">

    <h3>Rol</h3>
    <div class="dataTables_length">
        <select [(ngModel)]="rolId">
            <option *ngFor="let rol of RolList" [value]="rol.id">{{rol.descripcion}}</option>
        </select>
    </div>



</div>
<div id="divActions">

    <button mat-raised-button color="primary" (click)="prueba()" style="font-size: 24px;">Nuevo</button>


</div>