<button (click)="closePopUp()" mat-icon-button style="float:right;margin:5px;">
    <mat-icon>close</mat-icon>
</button>
<h1>Añadir nuevo Contribuyente</h1>

<div id="divInputs">

    <h3>Nombre</h3>
    <input type="text" [(ngModel)]="descripcion">

    <h3>Telefono</h3>
    <input type="number" [(ngModel)]="telefono">

    <h3>Direccion</h3>
    <input type="text" [(ngModel)]="direccion">

    <h3>Rfc</h3>
    <input type="text" [(ngModel)]="rfc">


</div>
<div id="divActions">

    <button mat-raised-button color="primary" (click)="prueba()" style="font-size: 24px;">Nuevo</button>


</div>