<app-barra-inicio [OptionSala]="'Salida'"></app-barra-inicio>
<div class="Content-Table">
    <div class="Header-Table">
        <div class="Title">
            <h2>Salida de Producto</h2>
        </div>
        <div class="btn-New">
            <button (click)="openDialog()" id="btnNuevo">
                <img src="assets/más-32.png" alt="">
                <p>Nuevo</p>
            </button>
        </div>
        <div class="dataTables_length"><label>Mostrar
                <select [(ngModel)]="itemsPorPagina" (change)="filterFields()">
                    <option value="5">5</option>
                    <option value="10">10</option>
                    <option value="20">20</option>
                    <option value="50">50</option>
                    <option value="100">100</option>
                </select> Campos</label>
        </div>
    </div>
    <div class="Table-Body">
        <table>
            <tr>
                <th>Id</th>
                <th>Folio de Salida</th>
                <th>Clave de Producto</th>
                <th>Titulo</th>
                <th>Peso</th>
                <th>Destinatario</th>
                <th>Observaciones</th>
                <th>Concepto</th>
                <th>Accion</th>
            </tr>
            <tr
                *ngFor="let element of SalidaProductosList.slice((paginaActual-1)*itemsPorPagina, paginaActual*itemsPorPagina)">
                <td>{{element.id}}</td>
                <td>{{element.folio_salida}}</td>
                <td>{{element.clave_producto}}</td>
                <td>{{element.titulo}}</td>
                <td>{{element.peso}}</td>
                <td>{{element.destinatario}}</td>
                <td>{{element.observaciones}}</td>
                <td>{{element.concepto}}</td>
                <td class="Opcion">
                    <input type="image" src="assets/editar-32.png" (click)="openEditDialog(element)" />
                    <input type="image" src="assets/basura-48.png" (click)="openDeleteDialog(element)" />
                </td>
            </tr>
        </table>
    </div>

    <div class="Content-Pagination">
        <div class="Pagination">
            <button (click)="previousPage()">
                < </button>
                    <p>{{this.paginaActual}}</p>
                    <button (click)="nextPage()">></button>
        </div>
    </div>
</div>