<button (click)="closePopUp()" mat-icon-button style="float:right;margin:5px;">
    <mat-icon>close</mat-icon>
</button>
<h1>Editar Almacen</h1>

<div id="divInputs">
    <h1>Antes</h1>
    <h3>Folio</h3>
    <input type="number" [(ngModel)]="folio" value="this.folio" readonly>

    <h3>Kilogramos</h3>
    <input type="number" [(ngModel)]="kilogramos" value="this.kilogramos" readonly>

    <h3>Importe</h3>
    <input type="number" [(ngModel)]="importe" value="this.importe" readonly>

    <h3>Recibio</h3>
    <input type="text" [(ngModel)]="recibioIdName" value="this.recibioIdName" readonly>

    <h3>Clave de producto</h3>
    <input type="number" [(ngModel)]="clave_producto" value="this.clave_producto" readonly>

    <h3>Contribuyente</h3>
    <input type="text" [(ngModel)]="contribuyenteName" value="this.contribuyenteName" readonly>

    <h3>Fecha de Entrada</h3>
    <input type="text" [(ngModel)]="fecha_entrada" value=" this.fecha_entrada" readonly>

</div>
<div id="divInputs">
    <h1>Despues</h1>
    <h3>Folio</h3>
    <input type="number" [(ngModel)]="Newfolio">

    <h3>Kilogramos</h3>
    <input type="number" [(ngModel)]="Newkilogramos">

    <h3>Importe</h3>
    <input type="number" [(ngModel)]="Newimporte">

    <h3>Recibio</h3>
    <div class="dataTables_length">
        <select [(ngModel)]="NewrecibioId">
            <option *ngFor="let empleado of empleadoList" [value]="empleado.id">{{empleado.nombre}}</option>
        </select>
    </div>

    <h3>Producto</h3>
    <div class="dataTables_length">
        <select [(ngModel)]="Newclave_producto">
            <option *ngFor="let producto of productoList" [value]="producto.id">{{producto.descripcion}}</option>
        </select>
    </div>

    <h3>Contribuyente</h3>
    <div class="dataTables_length">
        <select [(ngModel)]="Newcontribuyente">
            <option *ngFor="let contribuyente of contribuyenteList" [value]="contribuyente.id">
                {{contribuyente.descripcion}}</option>
        </select>
    </div>

    <h3>Fecha de Entrada</h3>
    <input type="date" [(ngModel)]="Newfecha_entrada">
</div>
<br>
<div id="divActions">

    <button mat-raised-button color="primary" (click)="prueba()" style="font-size: 24px;">Actualizar</button>


</div>