<h1>Añadir nuevo almacen</h1>

<div>

    <h3>Folio</h3>
    <input type="number" [(ngModel)]="folio">

    <h3>Kilogramos</h3>
    <input type="number" [(ngModel)]="kilogramos">

    <h3>Importe</h3>
    <input type="number" [(ngModel)]="importe">

    <h3>Recibio</h3>
    <input type="number" [(ngModel)]="recibio">

    <h3>Clave de producto</h3>
    <input type="number" [(ngModel)]="clave_producto">

    <h3>Contribuyente</h3>
    <input type="text" [(ngModel)]="contribuyente">

</div>
<br>
<div>

    <button (click)="prueba()">Nuevo</button>


</div>