<div id="barraFondo">
    <img id="Logo" src="../../assets/RED-BAMX.png" alt="Banco De Alimentos">
    <input id="idInputSearch" type="text" placeholder="Buscar">
    <img id="userLogo" src="../../assets/usuario-48.png">
    <h1 id="idUser"> Reinita18</h1>
    <img id="downLogo" src="../../assets/clasificar-abajo-48.png">
</div>
<div id="barraLateral">
    <button id="btnHome" class="btnOpcs" (click)="goToHome()">
        <img class="logos" src="../../assets/icons8-casa-24.png">
        <p>Pagina Principal</p>
    </button>
    <button id="btnAlmacen" class="btnOpcs" (click)="goToAlmacen()">
        <img class="logos" src="../../assets/icons8-tienda-departamento-96.png">
        <p>Almacén</p>
    </button>
    <button id="btnEntrada" class="btnOpcs" (click)="goToEntrada()">
        <img class="logos" src="../../assets/icons8-camión-96.png">
        <p>Entrada de Productos</p>
    </button>
    <button id="btnSalida" class="btnOpcs" (click)="goToSalida()">
        <img class="logos" src="../../assets/icons8-checkout-96.png">
        <p>Salida de Productos</p>
    </button>
    <div id="idActivo"></div>

    <button id="btnContri" class="btnOpcs" (click)="goToContri()">
        <img class="logos" src="../../assets/administración-48.png">
        <p>Contribuyentes</p>
    </button>
    <button id="btnAdmin" class="btnOpcs" (click)="goToAdmin()">
        <img class="logos" src="../../assets/equipo-de-usuario.png">
        <p>Administración</p>
    </button>
    <button id="btnReportes" class="btnOpcs" (click)="goToReportes()">
        <img class="logos" src="../../assets/icons8-informe-gráfico-96.png">
        <p>Reportes</p>
    </button>
    <button id="btnLogOut" class="btnOpcs" (click)="goToLogin()">
        <img class="logos" src="../../assets/salida-48.png">
        <p>Cerrar Sesion</p>
    </button>
</div>
<div id="contenedor">
    <h1 id="idH1Princ">Contribuyentes</h1>

    <button id="btnNuevo">

        <img id="logoMas" src="../../assets/más-32.png">
        <p>Nuevo</p>
    </button>
    <table id="idContent">
        <tr>
            <th id="idRow">Id</th>
            <th>Dado de Alta</th>
            <th>Descripcion</th>
            <th>Telefono</th>
            <th>Direccion</th>
            <th>Rfc</th>
        </tr>
        <tr *ngFor="let dataItem of ContribuyentesList">
            <td>{{dataItem.id}}</td>
            <td>{{dataItem.created}}</td>
            <td>{{dataItem.descripcion}}</td>
            <td>{{dataItem.telefono}}</td>
            <td>{{dataItem.direccion}}</td>
            <td>{{dataItem.rfc}}</td>



        </tr>
    </table>
    <div class="paginacion">
        <a href="#">❮</a>
        <input id="idPageNumber" type="number" value="1">
        <a href="#">❯</a>
    </div>


</div>