<app-barra-inicio [OptionSala]="'Almacen'"></app-barra-inicio>

<div class="Content-Table">
    <div class="Header-Table">
        <div class="Title">
            <h2>Almacen</h2>
        </div>
        <div class="btn-New">
            <button (click)="openDialog()" id="btnNuevo">
                <img src="assets/más-32.png" alt="">
                <p>Nuevo</p>
            </button>
        </div>
    </div>
    <div class="Table-Body">
        <table>
            <tr>
                <th>Id</th>
                <th>Folio</th>
                <th>Kilogramos</th>
                <th>Importe</th>
                <th>Fecha de Entrada</th>
                <th>Recibio</th>
                <th>Clave de producto</th>
                <th>Contribuyente</th>
                <th>Accion</th>

            </tr>
            <tr *ngFor="let dataItem of AlmacenList">
                <td>{{dataItem.id}}</td>
                <td>{{dataItem.folio}}</td>
                <td>{{dataItem.kilogramos}}</td>
                <td>{{dataItem.importe}}</td>
                <td>{{dataItem.fecha_entrada}}</td>
                <td>{{dataItem.recibio.nombre}}</td>
                <td>{{dataItem.clave_producto.codigo_sat}}</td>
                <td>{{dataItem.contribuyente.descripcion}}</td>
                <td>
                    <button style="background-color: transparent;border: none;" (click)="openEditDialog(dataItem)"><img
                            src="assets/editar-32.png" alt=""></button>
                    <button style="background-color: transparent;border: none;"><img src="assets/basura-48.png"
                            alt=""></button>

                </td>
            </tr>
        </table>
    </div>

    <div class="Content-Pagination">
        <div class="Pagination">
            <button>
                < </button>
                    <p>1</p>
                    <button>></button>
        </div>
    </div>
</div>